DISCORD_TOKEN=
GUILD_ID=
EVENT_CATEGORY_ID=
EVENT_STAFF_ROLE_ID=
CHANNEL_PREFIX=bt
THREAD_PREFIX=team

# RDS PostgreSQL
PGHOST=fury-road-db.cpimu62k2scs.eu-west-2.rds.amazonaws.com
PGPORT=5432
PGDATABASE_PROD=furyroad
PGDATABASE_TEST=furyroad_test
PGUSER=furiosa
PGPASSWORD=
